{% extends 'base.twig' %}

{% set body_class = 'page-interior' %}

{% block content %}
	<section class="booking">
		<div class="u-container">
			<div class="booking__row">
				<div class="booking__column">
					<div class="booking__picture-wrapper">
						<h2 data-aos="fade-up" class="booking__heading">Book with us</h2>
						{% set image = entry.bookingPropertyManagerImage.one() %}
						{% if image %}
							<picture data-aos="fade" class="booking__picture">
								<source {{ attr({ type: 'image/webp', srcset: image.getSrcset( [304, 320, 360, 412, 600, 768, 1024, 1280, 1440], { format: 'webp', } ), sizes: '(max-width: 768px) 100vw, 304px' , }) }}>
								<source {{ attr({ type: 'image/jpeg', srcset: image.getSrcset( [304, 320, 360, 412, 600, 768, 1024, 1280, 1440], { format: 'jpeg', } ), sizes: '(max-width: 768px) 100vw, 304px' , }) }}>
								<img alt="{{image.alt}}" class="booking__image" src={{image.url}} width={{image.width}} height={{image.height}} loading="lazy">
							</picture>
						{% endif %}
					</div>

					<div data-aos="fade" class="booking__content-wrapper">
						{% if entry.bookingPropertyManagerImageCaption %}		
							<h4 class="booking__caption">{{entry.bookingPropertyManagerImageCaption}}</h4>
						{% endif %}

						{% if entry.bookingContactInfo %}
							<div class="booking__email-container">
								{{ entry.bookingContactInfo }}
							</div>
						{% endif %}

						{# {% if entry.bookingPropertyManagerEmail %}
							<div class="booking__email-container">
								<a href="mailto:{{entry.bookingPropertyManagerEmail}}" class="booking__email">{{entry.bookingPropertyManagerEmail}}</a>
							</div>
						{% endif %}

						{% if entry.bookingPropertyManagerPhoneDisplay and entry.bookingPropertyManagerPhoneLink %}
							<div class="booking__phone-container">
								<span>Tel: <a href={{entry.bookingPropertyManagerPhoneLink}} class="booking__phone">{{entry.bookingPropertyManagerPhoneDisplay}}</a></span>
							</div> #}
						{% endif %}
					</div>
				</div>
				<div data-aos="fade" class="booking__column">
					<h2 data-aos="fade-up" class="booking__heading-mobile">Book with us</h2>
					<div class="booking__intro">Plan your next private event or book the boardroom at The Link today!</div>
					{% macro errorList(errors) %}
						{% if errors %}
							{{ ul(errors, {class: 'forms__errors'}) }}
						{% endif %}
					{% endmacro %}

					{% set submission = submission ?? null %}

					<h3 class="booking__heading-form">Fill out the Booking Form</h3>
					<form
						id="form" class="forms" method="post" action="" accept-charset="UTF-8">
						{{ csrfInput() }}
						{{ actionInput('contact-form/send') }}

						{% if craft.app.session.hasFlash('success') %}
							<div>Thank you for your message.</div>
						{% else  %}
							<div
								class="forms__group">
								{# set the email subject #}
								<input type="hidden" name="subject" value="Waterloo Innovation Park - Booking Request" data-original-value="Waterloo Innovation Park - Booking Request">
								<div class="forms__input">
									{{ input('email', 'fromEmail', submission.fromEmail ?? '', {
                                    id: 'from-email',
                                    autocomplete: 'email',
                                    placeholder: 'Email*',
                                }) }}
									{{ submission ? _self.errorList(submission.getErrors('fromEmail')) }}
								</div>
							</div>

							<div class="forms__group forms__group--50">
								<div class="forms__input">
									{{ input('text', 'fromName', submission.fromName ?? '', {
                                    id: 'from-name',
                                    autocomplete: 'name',
                                    placeholder: 'Name*',
                                }) }}
									{{ submission ? _self.errorList(submission.getErrors('fromName')) }}
								</div>

								<div class="forms__input">
									{{ input('text', 'message[Company Name]', submission.message.companyName ?? '', {
                                    id: 'companyName',
                                    autocomplete: 'company name',
                                    placeholder: 'Company name*',
                                }) }}
									{{ submission ? _self.errorList(submission.getErrors('message.companyName')) }}
								</div>
							</div>

							<div class="forms__group">
								<div class="forms__input">
									{{ input('text', 'message[Date Requested]', submission.message.dateRequested ?? '', {
                                            id: 'date-requested',
                                            autocomplete: 'date requested',
                                            placeholder: 'Date requested*',
                                        }) }}
									{{ submission ? _self.errorList(submission.getErrors('message.dateRequested')) }}
								</div>
							</div>

							<div class="forms__group forms__group--50">
								<div class="forms__input">
									{{ input('text', 'message[Start Time]', submission.message.startTime ?? '', {
                                    id: 'start-time',
                                    autocomplete: 'start time',
                                    placeholder: 'Start time*',
                                }) }}
									{{ submission ? _self.errorList(submission.getErrors('message.startTime')) }}
								</div>

								<div class="forms__input">
									{{ input('text', 'message[End Time]', submission.message.endTime ?? '', {
                                    id: 'end-time',
                                    autocomplete: 'end time',
                                    placeholder: 'End time*',
                                }) }}
									{{ submission ? _self.errorList(submission.getErrors('message.endTime')) }}
								</div>
							</div>
							<div class="forms__group">
								<label>Please briefly describe what you would like to use this space for and how many people you expect.</label>
								<div class="forms__input">
									{{ tag('textarea', {
                                    text: submission.message.body ?? '',
                                    id: 'message',
                                    name: 'message[body]',
                                    rows: 10,
                                    cols: 40,
                                    placeholder: 'Comment',
                                }) }}
									{{ submission ? _self.errorList(submission.getErrors('message.body')) }}
								</div>
							</div>
							<div class="forms__group forms__submit-group ">
								<button id="submit" type="submit" class="button button--small-full forms__submit">Submit</button>
								{% if craft.app.session.hasFlash('notice') %}
									<p class="forms__alert forms__alert--success">{{ craft.app.session.getFlash('notice') }}</p>
								{% elseif craft.app.session.hasFlash('error') %}
									<p class="forms__alert forms__alert--error">{{ craft.app.session.getFlash('error') }}</p>
								{% endif %}
							</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
