{% if blocks is defined %}
	{% set entries = blocks %}
{% else %}
	{% set entries = entry.contentPanels.all() %}
{% endif %}

{% for block in entries %}
	{% if block.type == "heroPanel" %}
		<section class="hero-panel">
			<div class="u-container">
				<div class="hero-panel__container">
					<div class="hero-panel__content">
						{% if block.subject %}
							<h4 class="hero-panel__subject">{{ block.subject }}</h4>
						{% endif %}
						<h1 class="hero-panel__title panel__heading">{{block.panelTitle}}</h1>
						<div class="hero-panel__description panel__content">{{block.panelContent}}</div>
					</div>

					{% set image = block.image.one() %}
					<div class="hero-panel__picture-container">
						<picture class="hero-panel__picture panel__picture panel__picture--position-middle-center u-hidden-on-no-js">
							<img alt="" class="hero-panel__image panel__image object-fit" src="{{image.getUrl()}}" loading="lazy"/>
						</picture>
					</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "heroPanelDark" %}
		<section class="hero-panel hero-panel--dark">
			<div class="u-container">
				<div class="hero-panel__container">

					{% set image = block.image.one() %}
					<div class="hero-panel__picture-container">
						<picture class="hero-panel__picture panel__picture panel__picture--position-middle-center u-hidden-on-no-js">
							<img alt="" class="hero-panel__image panel__image object-fit" src="{{image.getUrl()}}" loading="lazy"/>
						</picture>
					</div>

					<div class="hero-panel__content">
						{% if block.subject %}
							<h4 class="hero-panel__subject">{{ block.subject }}</h4>
						{% endif %}
						<h1 class="hero-panel__title panel__heading">{{block.panelTitle}}</h1>
						<div class="hero-panel__description panel__content">{{block.panelContent}}</div>
						{% if block.heroButtonText %}
							<a class="button button--arrow" href="{{block.heroButtonHref}}">
								{{block.heroButtonText}}
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "callToAction" %}
		<section class="call-to-action">
			<div class="u-container">
				<div class="call-to-action__content">
					<h3 class="call-to-action__headline">
						{{block.panelTitle}}
					</h3>
					{% if block.buttonText %}
						<a class="button button--arrow" href="{{block.buttonHref}}">
							{{block.buttonText}}
						</a>
					{% endif %}
				</div>
			</div>
		</section>
	{% elseif block.type == "imagePanel" %}
		<section class="image-panel">
			<picture class="image-panel__picture" role="presentation">
				{% set image = block.image.one() %}
				<picture class="image-panel__picture">
					<source {{ attr({ type: 'image/webp', srcset: image.getSrcset( [320, 360, 412, 600, 768, 1024, 1440, 1600, 1920, 2560], { format: 'webp', } ), sizes: '100vw'}) }}>
					<source {{ attr({ type: 'image/jpeg', srcset: image.getSrcset( [320, 360, 412, 600, 768, 1024, 1440, 1600, 1920, 2560], { format: 'jpeg', } ), sizes: '100vw'}) }}>
					<img style="object-position: center {{block.imageVerticalPosition}}%" alt="{{image.alt}}" class="image-panel__image" src={{image.url}} width={{image.width}} height={{image.height}}>
				</picture>
			</picture>
		</section>
	{% elseif block.type == "contentPanel" %}
		<section class="content-panel">
			<div class="u-container">
				<div class="content-panel__container">
					<h1 class="panel__heading">{{ block.panelTitle }}</h1>
					<div class="panel__content">{{ block.panelSubheading }}</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "instagram" %}
		{% set items = craft.instagram.getFeed() %}
		<section class="instagram instagram-glide">
			<div class="u-container instagram__inner">
				<h2 class="instagram__heading">{{block.heading}}</h2>
				<div class="instagram__subheading">{{block.subheading}}</div>
				<div class="glide__track" data-glide-el="track">
					<ul class="glide__slides">
						{% for item in items %}
							<li class="instagram__slide glide__slide">
								<a href="https://www.instagram.com/p/{{ item.shortcode }}/" target="_blank" rel="noopener noreferrer">
									{% set image = item.asset %}
									<picture class="instagram__picture">
										<source {{ attr({ type: 'image/webp', srcset: image.getSrcset( [320, 360, 412, 600, 768, 1024], { format: 'webp', } ), sizes: '(max-width: 768px) 50vw, (max-width: 1440px) 30vw, 18vw' }) }}>
										<source {{ attr({ type: 'image/jpeg', srcset: image.getSrcset( [320, 360, 412, 600, 768, 1024], { format: 'jpeg', } ), sizes: '(max-width: 768px) 50vw, (max-width: 1440px) 30vw, 18vw' }) }}>
										<img alt="{{image.alt}}" class="instagram__image" src={{image.url}} width={{image.width}} height={{image.height}}>
									</picture>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="image-slider__controls" data-glide-el="controls">
					<button class="image-slider__arrow image-slider__arrow--left glide__arrow glide__arrow--left" data-glide-dir="<">
						<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.00047 11.2892C7.39047 10.8992 7.39047 10.2692 7.00047 9.87925L3.12047 5.99925L7.00047 2.11925C7.39047 1.72925 7.39047 1.09925 7.00047 0.709246C6.61047 0.319245 5.98047 0.319245 5.59047 0.709246L1.00047 5.29925C0.610469 5.68925 0.610469 6.31925 1.00047 6.70925L5.59047 11.2992C5.97047 11.6792 6.61047 11.6792 7.00047 11.2892Z" fill="#0B0E26"/>
						</svg>
					</button>

					<div class="image-slider__bullets glide__bullets" data-glide-el="controls[nav]">
						{% for item in items %}
							<button class="image-slider__bullet glide__bullet" data-glide-dir="={{loop.index0}}"></button>
						{% endfor %}
					</div>
					<button class="image-slider__arrow image-slider__arrow--right glide__arrow glide__arrow--right" data-glide-dir=">">
						<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.999531 0.710754C0.609531 1.10075 0.609531 1.73075 0.999531 2.12075L4.87953 6.00075L0.999531 9.88075C0.609531 10.2708 0.609531 10.9008 0.999531 11.2908C1.38953 11.6808 2.01953 11.6808 2.40953 11.2908L6.99953 6.70075C7.38953 6.31075 7.38953 5.68075 6.99953 5.29075L2.40953 0.700754C2.02953 0.320754 1.38953 0.320754 0.999531 0.710754Z" fill="#0B0E26"/>
						</svg>
					</button>
				</div>
			</div>
		</section>


	{% elseif block.type == "pageIntro" %}
		<div class="page-intro">
			<div class="page-intro__inner u-container">
				<div class="page-intro__row">
					<h1 class="page-intro__heading">{{block.pageHeading}}</h1>
					{% set url = craft.app.request.url %}
					{% if url == "/the-link" %}
						<div class="page-intro__open-message">
							<svg width="25" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.666 6.285a.976.976 0 0 0-1.38 0h-.001a.976.976 0 0 0 0 1.38v.002a.976.976 0 0 0 1.38 0l.002-.001a.976.976 0 0 0 0-1.38l-.001-.001Zm0 11.048a.976.976 0 0 0-1.38 0l-.001.001a.976.976 0 0 0 0 1.38v.001a.976.976 0 0 0 1.38 0h.002a.976.976 0 0 0 0-1.38l-.001-.002Zm-2.978-5.81h-.001a.976.976 0 0 0-.976.976v.002c0 .539.437.976.976.976h.001a.976.976 0 0 0 .976-.976v-.002a.976.976 0 0 0-.976-.976Zm12.695 0h-3.906V7.62h-1.954v5.858h5.86v-1.954Zm-4.884-5.859h.002a.976.976 0 0 0 0-1.951h-.002a.976.976 0 0 0 0 1.951Zm6.215.62a.976.976 0 0 0-1.38 0v.002a.976.976 0 0 0 1.381 1.381v-.001a.976.976 0 0 0 0-1.38v-.001ZM12.5 0C5.49 0 0 5.49 0 12.5S5.49 25 12.5 25 25 19.51 25 12.5 19.51 0 12.5 0Zm0 23.047c-5.914 0-10.547-4.633-10.547-10.547 0-5.914 4.633-10.547 10.547-10.547 5.914 0 10.547 4.633 10.547 10.547 0 5.914-4.633 10.547-10.547 10.547Zm7.813-11.524h-.001a.976.976 0 0 0-.976.976v.002c0 .539.437.976.976.976h.001a.976.976 0 0 0 .976-.976v-.002a.976.976 0 0 0-.976-.976Zm-1.599 5.81a.976.976 0 0 0-1.38 0v.001a.976.976 0 0 0 0 1.38v.001a.976.976 0 0 0 1.38 0h.001a.976.976 0 0 0 0-1.38v-.002Zm-6.213 2.005h-.002a.976.976 0 0 0 0 1.951h.002a.976.976 0 0 0 0-1.951Z" fill="#000"/></svg>
							<span>Monday to Friday, from 9am to 3pm.</span>
						</div>
					{% endif %}
				</div>
				{% if block.pageSummary or block.buttonText %}
					<div class="page-intro__row">
						{% if block.pageSummary %}
							<p class="page-intro__summary">{{block.pageSummary}}</p>
						{% endif %}

						{% if block.buttonText %}
							<a class="button button--arrow" href="{{block.buttonHref}}">
								{{block.buttonText}}
							</a>
						{% endif %}
					{% endif %}

				</div>
			</div>
		</div>

	{% elseif block.type == "calendar" %}
		  <section class="calendar">
			<div class="u-container">
				<div class="calendar__wrapper">
					<iframe id="calendar" style="width: 100%; height: 100vh; border: none;" src="{{siteUrl}}/calendar/month" frameborder="0" scrolling="no"></iframe>
				</div>
			</div>
		</section>

	{% elseif block.type == "eventSlider" %}

		{% set eventOptions = {
			limit: block.limit ? block.limit : 6,
			rangeStart: 'today',
			rangeEnd: '+3 months',
			eventSliderPosterImage: ':notempty:'
		} %}
		{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}

		<section class="{% if events | length > 1 %}glide-event {% endif %}event-slider">
			<div class="{% if events | length <= 1 %}u-container {% endif %}event-slider__inner">
				
				<div class="event-slider__panel-content u-container {% if block.contentLocation == "top"%} event-slider__panel-content--top{% endif %}">
					<div class="event-slider__row event-slider__row-top">
					{% if block.heading and block.contentLocation != "none"%}
						<div class="event-slider__column">
							<h2 class="event-slider__heading">{{block.heading}}</h2>
						</div>
					{% endif %}
					</div>
					{% if block.contentLocation == "top" %}
						<div class="event-slider__row event-slider__row-top">
							{% if block.summary %}
								<div class="event-slider__column">
									<p class="event-slider__summary">{{block.summary}}</p>
								</div>	
							{% endif %}

							{% if block.buttonText %}
								<div class="event-slider__column">
									<a class="button button--arrow" href="{{block.buttonHref}}">
										{{block.buttonText}}
									</a>
								</div>	
							{% endif %}
							
						</div>
					{% endif %}
				</div>
				

				<div class="glide__track" data-glide-el="track">
					<ul class="glide__slides">
					{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}
						{% for event in events %}
							{% if (event.eventSliderPosterImage | length) == 1 %}
								{% set image = event.eventSliderPosterImage.one() %}
							{% endif %}
							{% if image is defined %}
							<li class="event-slider__slide glide__slide">
								<picture class="event-slider__picture">
									<source {{ attr({ type: 'image/webp', srcset: image.getSrcset( [320, 360, 412, 600, 768, 1024, 1440, 1600, 1920, 2560], { format: 'webp', } ), sizes: '(max-width: 768px) 100vw, (max-width: 1440px) 80vw, 60vw'}) }}>
									<source {{ attr({ type: 'image/jpeg', srcset: image.getSrcset( [320, 360, 412, 600, 768, 1024, 1440, 1600, 1920, 2560], { format: 'jpeg', } ), sizes: '(max-width: 768px) 100vw, (max-width: 1440px) 80vw, 60vw'}) }}>
									<img alt="{{image.alt}}" class="event-slider__image" src={{image.url}} width={{image.width}} height={{image.height}}>
								</picture>
								<div class="event-slider__slide-content">
									<div class="event-slider__slide-content-column">
										<h3 class="event-slider__title">{{event.title}}</h3>
										<h4 class="event-slider__date">
											{{ event.startDate.format('l, F j, Y') }}
											{% if event.allDay %}
												(all day)
											{% else %}
												at {{ event.startDate.format("g:ia") }} -
												{% if event.multiDay %}
													{{ event.endDate.format("l, F j, Y \\a\\t g:ia") }}
												{% else %}
													{{ event.endDate.format("g:ia") }}
												{% endif %}
											{% endif %}
										</h4>
									</div>
									<div class="event-slider__slide-content-column">
										<h4 class="event-slider__date">{{event.eventSliderDetails}}</h4>
									</div>
								</div>
							</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				
				<div class="event-slider__row event-slider__row-bottom u-container">
					{% if block.summary and block.contentLocation == "bottom" %}
						<div class="event-slider__column">
							<p class="event-slider__summary">{{block.summary}}</p>
						</div>	
					{% endif %}

					{% if events | length > 1 %}
					<div class="image-slider__controls event-slider__column" data-glide-el="controls">
						<button class="image-slider__arrow image-slider__arrow--left glide__arrow glide__arrow--left" data-glide-dir="<">
							<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.00047 11.2892C7.39047 10.8992 7.39047 10.2692 7.00047 9.87925L3.12047 5.99925L7.00047 2.11925C7.39047 1.72925 7.39047 1.09925 7.00047 0.709246C6.61047 0.319245 5.98047 0.319245 5.59047 0.709246L1.00047 5.29925C0.610469 5.68925 0.610469 6.31925 1.00047 6.70925L5.59047 11.2992C5.97047 11.6792 6.61047 11.6792 7.00047 11.2892Z" fill="#0B0E26"/>
							</svg>
						</button>

						<div class="image-slider__bullets glide__bullets" data-glide-el="controls[nav]">
							{% for event in events %}
								<button class="image-slider__bullet glide__bullet" data-glide-dir="={{loop.index0}}"></button>
							{% endfor %}
						</div>
						<button class="image-slider__arrow image-slider__arrow--right glide__arrow glide__arrow--right" data-glide-dir=">">
							<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.999531 0.710754C0.609531 1.10075 0.609531 1.73075 0.999531 2.12075L4.87953 6.00075L0.999531 9.88075C0.609531 10.2708 0.609531 10.9008 0.999531 11.2908C1.38953 11.6808 2.01953 11.6808 2.40953 11.2908L6.99953 6.70075C7.38953 6.31075 7.38953 5.68075 6.99953 5.29075L2.40953 0.700754C2.02953 0.320754 1.38953 0.320754 0.999531 0.710754Z" fill="#0B0E26"/>
							</svg>
						</button>
					</div>

					{% endif %}

					{% if block.buttonText and block.contentLocation == "bottom" %}
					<div class="event-slider__column">
						<a class="button button--arrow" href="{{block.buttonHref}}">
							{{block.buttonText}}
						</a>
					</div>	
					{% endif %}
				</div>
			</div>
					
		</section>


	{% elseif block.type == "imageSlider" %}
		<section class="glide image-slider">
			<div class="image-slider__inner">
				<div class="glide__track" data-glide-el="track">
					<ul class="glide__slides">
						{% for image in block.images %}
						<li class="image-slider__slide glide__slide">
							<picture class="image-slider__picture">
								<source {{ attr({ type: 'image/webp', srcset: image.getSrcset( [320, 360, 412, 600, 768, 1024, 1440, 1600, 1920, 2560], { format: 'webp', } ), sizes: '(max-width: 768px) 100vw, (max-width: 1440px) 80vw, 60vw'}) }}>
								<source {{ attr({ type: 'image/jpeg', srcset: image.getSrcset( [320, 360, 412, 600, 768, 1024, 1440, 1600, 1920, 2560], { format: 'jpeg', } ), sizes: '(max-width: 768px) 100vw, (max-width: 1440px) 80vw, 60vw'}) }}>
								<img alt="{{image.alt}}" class="image-slider__image" src={{image.url}} width={{image.width}} height={{image.height}}>
							</picture>
						</li>
						{% endfor %}
					</ul>
				</div>

				<div class="image-slider__controls" data-glide-el="controls">
					<button class="image-slider__arrow image-slider__arrow--left glide__arrow glide__arrow--left" data-glide-dir="<">
						<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.00047 11.2892C7.39047 10.8992 7.39047 10.2692 7.00047 9.87925L3.12047 5.99925L7.00047 2.11925C7.39047 1.72925 7.39047 1.09925 7.00047 0.709246C6.61047 0.319245 5.98047 0.319245 5.59047 0.709246L1.00047 5.29925C0.610469 5.68925 0.610469 6.31925 1.00047 6.70925L5.59047 11.2992C5.97047 11.6792 6.61047 11.6792 7.00047 11.2892Z" fill="#0B0E26"/>
						</svg>
					</button>

					<div class="image-slider__bullets glide__bullets" data-glide-el="controls[nav]">
						{% for image in block.images %}
							<button class="image-slider__bullet glide__bullet" data-glide-dir="={{loop.index0}}"></button>
						{% endfor %}
					</div>
					<button class="image-slider__arrow image-slider__arrow--right glide__arrow glide__arrow--right" data-glide-dir=">">
						<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.999531 0.710754C0.609531 1.10075 0.609531 1.73075 0.999531 2.12075L4.87953 6.00075L0.999531 9.88075C0.609531 10.2708 0.609531 10.9008 0.999531 11.2908C1.38953 11.6808 2.01953 11.6808 2.40953 11.2908L6.99953 6.70075C7.38953 6.31075 7.38953 5.68075 6.99953 5.29075L2.40953 0.700754C2.02953 0.320754 1.38953 0.320754 0.999531 0.710754Z" fill="#0B0E26"/>
						</svg>
					</button>
				</div>
			</div>
		</section>
	{% endif %}

{% endfor %}
