{% if blocks is defined %}
	{% set entries = blocks %}
{% else %}
	{% set entries = entry.contentPanels.all() %}
{% endif %}

{% for block in entries %}
	{% if block.type == "heroPanel" %}
		<section class="hero-panel">
			<div class="u-container">
				<div class="hero-panel__container">
					<div class="hero-panel__content">
						{% if block.subject %}
							<h4 class="hero-panel__subject">{{ block.subject }}</h4>
						{% endif %}
						<h1 class="hero-panel__title panel__heading">{{block.panelTitle}}</h1>
						<div class="hero-panel__description panel__content">{{block.panelContent}}</div>
					</div>

					{% set image = block.image.one() %}
					<div class="hero-panel__picture-container">
						<picture class="hero-panel__picture panel__picture panel__picture--position-middle-center u-hidden-on-no-js">
							<img alt="" class="hero-panel__image panel__image object-fit" src="{{image.getUrl()}}" loading="lazy"/>
						</picture>
					</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "heroPanelDark" %}
		<section class="hero-panel hero-panel--dark">
			<div class="u-container">
				<div class="hero-panel__container">

					{% set image = block.image.one() %}
					<div class="hero-panel__picture-container">
						<picture class="hero-panel__picture panel__picture panel__picture--position-middle-center u-hidden-on-no-js">
							<img alt="" class="hero-panel__image panel__image object-fit" src="{{image.getUrl()}}" loading="lazy"/>
						</picture>
					</div>

					<div class="hero-panel__content">
						{% if block.subject %}
							<h4 class="hero-panel__subject">{{ block.subject }}</h4>
						{% endif %}
						<h1 class="hero-panel__title panel__heading">{{block.panelTitle}}</h1>
						<div class="hero-panel__description panel__content">{{block.panelContent}}</div>
						{% if block.heroButtonText %}
							<a class="button button--arrow" href="{{block.heroButtonHref}}">
								{{block.heroButtonText}}
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "callToAction" %}
		<section class="call-to-action">
			<div class="u-container">
				<div class="call-to-action__content">
					<h3 class="call-to-action__headline">
						{{block.panelTitle}}
					</h3>
					{% if block.buttonText %}
						<a class="button button--arrow" href="{{block.buttonHref}}">
							{{block.buttonText}}
						</a>
					{% endif %}
				</div>
			</div>
		</section>
	{% elseif block.type == "imagePanel" %}
		<section class="image-panel">
			<picture class="image-panel__picture" role="presentation">
				{% set image = block.image.one() %}
				<img alt="" class="image-panel__image" src="{{image.getUrl()}}" loading="lazy"/>
			</picture>
		</section>
	{% elseif block.type == "contentPanel" %}
		<section class="content-panel">
			<div class="u-container">
				<div class="content-panel__container">
					<h1 class="panel__heading">{{ block.panelTitle }}</h1>
					<div class="panel__content">{{ block.panelSubheading }}</div>
				</div>
			</div>
		</section>

	{% elseif block.type == "calendar" %}


		{# Acquire URL segments #}
		{% set segment1 = craft.app.request.segment(1) %}
		{% set segment2 = craft.app.request.segment(2) %}
		{% set segment3 = craft.app.request.segment(3) %}
		{% set segment4 = craft.app.request.segment(4) %}
		{% set segment5 = craft.app.request.segment(5) %}
		{% set segment6 = craft.app.request.segment(6) %}
		{% set segment7 = craft.app.request.segment(7) %}


		{% set pageTitle = "Month" %}
		{% set page = "month" %}

		{% set targetDate = "today" %}
		{% set calendarHandle = null %}
		{% if segment3 == "calendar" %}
			{% set calendarHandle = segment4 %}
			{% if segment5 %}
				{% set targetDate = segment5~"-"~segment6~"-01" %}
			{% endif %}
		{% elseif segment3 is not empty %}
			{% set targetDate = segment3~"-"~segment4~"-01" %}
		{% endif %}
		<link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">

		<section id="calendar" class="calendar">
			<div class="u-container">
					<h1>{{block.heading}}</h1>
					<p class="lead">Below is full month calendar view, which allows you to see all your event occurrences.</p>
				<div class="row">

					<hr/><br/>


						{% include "the-link/layouts/_calendar_banner.html" %}

						<div id="month_calendar">
							{% set month = craft.calendar.month({
							date: targetDate,
							calendar: calendarHandle
							}) %}

							{% set dateBoundsHelper = now.diff(month.nextDate)|date('%r%a') %}

							<div class="row justify-content-between mb-3">
								<div class="col-3">
									{% if dateBoundsHelper > -365 %}
										<a class="btn btn-outline-secondary" href="{{ siteUrl }}the-link/month/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ month.previousDate.format('Y/m') }}#calendar">
											<span class="fas fa-arrow-left"></span>
											{{ month.previousDate.format('F') }}
										</a>
									{% endif %}
								</div>

								<div class="col-auto">
									<h3>
										{% include "_components/month_heading.twig" with {month: month} only %}
										&nbsp;
										<span class="badge {{ month.eventCount ? " badge-warning" : " badge-secondary" }}">
											{{ month.eventCount }}
											event{{ month.eventCount > 1 or month.eventCount == 0 ? "s" }}
										</span>
									</h3>
								</div>

								<div class="col-3 clearfix">
									{% if dateBoundsHelper < 365 %}
										<a class="btn btn-outline-secondary float-right" href="{{ siteUrl }}the-link/month/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ month.nextDate.format('Y/m') }}#calendar">
											{{ month.nextDate.format('F') }}
											<span class="fas fa-arrow-right"></span>
										</a>
									{% endif %}
								</div>
							</div>

							<table id="month_calendar_inner" class="table table-bordered">
								<thead>
									<tr id="days_of_week" class="active">
										{% for day in month|first %}
											<th class="day_of_week">
												{{ day.date.format('l') }}
											</th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
									{% for week in month %}
										<tr>
											{% for day in week %}
												{% if month.containsDate(day.date) %}
													<td class="day_cell{{ day.dateLocalized.isToday ? " today" }}">
														<div class="date{{ day.eventCount ? " has_events" }}">
															<a class="num" href="{{ siteUrl }}the-link/day/{{ segment3 == 'calendar' ? "calendar/"~segment4~"/" }}{{ day.date.format('Y/m/d') }}">
																{{ day.date.format('j') }}
															</a>
														</div>
													{% else %}
														<td class="day_cell out_of_range">
															<div class="date">
																<span class="num">
																	{{ day.date.format('j') }}
																</span>
															</div>
														{% endif %}

														{% for event in day.events %}
															{% include "_components/_event.html" %}
														{% endfor %}
													</td>
												{% endfor %}
											</tr>
										{% endfor %}
									</tbody>
								</tbody>
							</table>
						</div>

				</div>
			</div>
		</section>
	{% endif %}

{% endfor %}
