{% for block in entry.contentPanels.all() %}
	{% if block.type == "heroPanel" %}
		<section class="hero-panel">
			<div class="u-container">
				<div class="hero-panel__container">
					<div class="hero-panel__content">
						{% if block.subject %}
							<h4 class="hero-panel__subject">{{ block.subject }}</h4>
						{% endif %}
						<h1 class="hero-panel__title panel__heading">{{block.panelTitle}}</h1>
						<div class="hero-panel__description panel__content">{{block.panelContent}}</div>
					</div>

					{% set image = block.image.one() %}
					<div class="hero-panel__picture-container">
						<picture class="hero-panel__picture panel__picture panel__picture--position-middle-center u-hidden-on-no-js">
							<img alt="" class="hero-panel__image panel__image object-fit" src="{{image.getUrl()}}" loading="lazy"/>
						</picture>
					</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "heroPanelDark" %}
		<section class="hero-panel hero-panel--dark">
			<div class="u-container">
				<div class="hero-panel__container">

					{% set image = block.image.one() %}
					<div class="hero-panel__picture-container">
						<picture class="hero-panel__picture panel__picture panel__picture--position-middle-center u-hidden-on-no-js">
							<img alt="" class="hero-panel__image panel__image object-fit" src="{{image.getUrl()}}" loading="lazy"/>
						</picture>
					</div>

					<div class="hero-panel__content">
						{% if block.subject %}
							<h4 class="hero-panel__subject">{{ block.subject }}</h4>
						{% endif %}
						<h1 class="hero-panel__title panel__heading">{{block.panelTitle}}</h1>
						<div class="hero-panel__description panel__content">{{block.panelContent}}</div>
						{% if block.heroButtonText %}
							<a class="button button--arrow" href="{{block.heroButtonHref}}">
								{{block.heroButtonText}}
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	{% elseif block.type == "callToAction" %}
		<section class="call-to-action">
			<div class="u-container">
				<div class="call-to-action__content">
					<h3 class="call-to-action__headline">
						{{block.panelTitle}}
					</h3>
					{% if block.buttonText %}
						<a class="button button--arrow" href="{{block.buttonHref}}">
							{{block.buttonText}}
						</a>
					{% endif %}
				</div>
			</div>
		</section>
	{% elseif block.type == "imagePanel" %}
		<section class="image-panel">
			<picture class="image-panel__picture" role="presentation">
				{% set image = block.image.one() %}
				<img alt="" class="image-panel__image" src="{{image.getUrl()}}" loading="lazy"/>
			</picture>
		</section>
	{% elseif block.type == "contentPanel" %}
		<section class="content-panel">
			<div class="u-container">
				<div class="content-panel__container">
					<h1 class="panel__heading">{{ block.panelTitle }}</h1>
					<div class="panel__content">{{ block.panelSubheading }}</div>
				</div>
			</div>
		</section>
	{% endif %}

{% endfor %}
