<footer class="footer">
	<div class="u-container">
		<div class="footer__row">
			<div class="footer__column">
				<a href="/" class="footer__logo footer__logo--desktop" title="Waterloo Innovation Park + The Link logo">
					<svg xmlns="http://www.w3.org/2000/svg" width="151" height="202" fill="none">
						<g clip-path="url(#clip0_1928_3594)" fill="#0B0E26">
							<path d="M9.394 5.632h4.16v12.005h4.462V5.632h4.203v15.235H6.924c-2.773 0-4.03-.35-4.982-1.397-.91-.96-1.387-2.444-1.387-4.147V5.632h4.16v9.036c0 1.484.086 1.921.563 2.358.39.392 1.04.61 1.906.61h2.21V5.633ZM36.56 11.612c0-2.139-.65-2.706-3.163-2.706h-7.019V5.632h7.02c2.512 0 3.076.043 4.072.392 1.343.437 2.427 1.616 2.903 3.187.26.873.347 1.485.347 3.1v8.556h-8.752c-3.25 0-3.986-.13-4.94-.83-1.126-.829-1.733-2.138-1.733-3.71 0-2.14 1.127-3.885 2.773-4.41.693-.217 1.906-.348 3.423-.348h5.07v.043Zm-4.809 3.274c-.997 0-.997 0-1.343.088-.563.174-.91.698-.91 1.31 0 .96.607 1.353 2.253 1.353h4.81v-2.75h-4.81ZM45.702 0h4.16v5.631h3.856v3.275h-3.856v5.544c0 1.571.043 2.052.346 2.444.347.48.997.743 1.864.743h1.646v3.274h-3.033c-1.733 0-2.86-.35-3.683-1.179-1.04-.96-1.343-2.095-1.343-4.584V8.906h-2.643V5.63h2.643V0h.043ZM68.536 14.886h-8.752c.087 1.179.39 1.703 1.126 2.227.607.393 1.257.524 2.557.524h5.112v3.274h-5.546c-2.383 0-3.726-.393-5.112-1.441-1.82-1.397-2.73-3.58-2.73-6.374 0-2.663 1.17-5.107 2.946-6.33 1.17-.785 2.513-1.091 4.55-1.091h5.849V8.95H62.99c-2.253 0-3.033.611-3.25 2.707h8.753v3.23h.043ZM78.111 5.632c2.557 0 3.683.262 4.68 1.178.953.83 1.256 1.921 1.256 4.235v1.484h-3.986v-.83c0-2.138-.607-2.837-2.686-2.837h-1.213v12.005h-4.16V5.632h6.11ZM86.344 20.867V0h4.16v20.867h-4.16ZM107.834 7.989c1.17 1.484 1.733 3.274 1.733 5.457 0 4.714-3.119 7.683-8.059 7.683-4.982 0-7.929-2.925-7.929-7.902 0-4.802 3.12-7.814 8.059-7.814 2.73 0 4.896.873 6.196 2.576Zm-10.009 5.326c0 2.968 1.3 4.54 3.77 4.54 2.47 0 3.683-1.528 3.683-4.671 0-3.056-1.257-4.584-3.77-4.584-2.47.044-3.683 1.615-3.683 4.715ZM125.902 7.989c1.17 1.484 1.733 3.274 1.733 5.457 0 4.714-3.12 7.683-8.059 7.683-4.983 0-7.929-2.925-7.929-7.902 0-4.802 3.12-7.814 8.059-7.814 2.773 0 4.896.873 6.196 2.576Zm-10.009 5.326c0 2.968 1.3 4.54 3.77 4.54 2.469 0 3.682-1.528 3.682-4.671 0-3.056-1.256-4.584-3.769-4.584-2.47.044-3.683 1.615-3.683 4.715ZM.772 29.685h4.16v4.06H.771v-4.06Zm4.16 5.632v15.235H.771V35.317h4.16ZM17.063 35.317c2.426 0 3.423.262 4.463 1.222 1.04 1.004 1.603 2.488 1.603 4.627v9.386h-4.16V40.73c0-1.528-.606-2.14-2.123-2.14H13.25v12.006H9.09v-15.28h7.973ZM35 35.317c2.427 0 3.423.262 4.463 1.222 1.04 1.004 1.603 2.488 1.603 4.627v9.386h-4.16V40.73c0-1.528-.606-2.14-2.122-2.14h-3.596v12.006h-4.203v-15.28H35ZM58.18 37.674c1.17 1.484 1.734 3.274 1.734 5.457 0 4.715-3.12 7.683-8.059 7.683-4.983 0-7.929-2.925-7.929-7.901 0-4.802 3.12-7.815 8.059-7.815 2.73 0 4.896.917 6.196 2.576Zm-10.008 5.37c0 2.968 1.3 4.54 3.77 4.54 2.47 0 3.682-1.528 3.682-4.671 0-3.056-1.256-4.584-3.769-4.584-2.47 0-3.683 1.571-3.683 4.715ZM73.216 35.317h4.419l-6.543 15.235H66.63l-6.023-15.235h4.55l3.856 10.477 4.203-10.477ZM90.113 41.297c0-2.139-.65-2.706-3.163-2.706h-7.019v-3.274h7.02c2.512 0 3.076.043 4.072.392 1.343.437 2.427 1.616 2.903 3.187.26.873.347 1.485.347 3.1v8.556H85.52c-3.25 0-3.987-.13-4.94-.83-1.126-.829-1.733-2.138-1.733-3.71 0-2.139 1.127-3.885 2.773-4.41.693-.217 1.907-.348 3.423-.348h5.07v.043Zm-4.809 3.275c-.997 0-.997 0-1.343.087-.564.174-.91.698-.91 1.31 0 .96.606 1.353 2.253 1.353h4.81v-2.75h-4.81ZM99.255 29.685h4.16v5.632h3.856v3.274h-3.856v5.544c0 1.572.043 2.052.346 2.445.347.48.997.742 1.864.742h1.646v3.274h-3.033c-1.733 0-2.86-.35-3.683-1.179-1.04-.96-1.343-2.095-1.343-4.584v-6.242H96.57v-3.274h2.643v-5.632h.043ZM110.131 29.685h4.159v4.06h-4.159v-4.06Zm4.159 5.632v15.235h-4.159V35.317h4.159ZM131.621 37.674c1.17 1.484 1.733 3.274 1.733 5.457 0 4.715-3.12 7.683-8.059 7.683-4.983 0-7.929-2.925-7.929-7.901 0-4.802 3.12-7.815 8.059-7.815 2.73 0 4.896.917 6.196 2.576Zm-10.009 5.37c0 2.968 1.3 4.54 3.77 4.54 2.469 0 3.683-1.528 3.683-4.671 0-3.056-1.257-4.584-3.77-4.584-2.47 0-3.683 1.571-3.683 4.715ZM144.489 35.317c2.427 0 3.423.262 4.463 1.222 1.04 1.004 1.603 2.488 1.603 4.627v9.386h-4.159V40.73c0-1.528-.607-2.14-2.123-2.14h-3.596v12.006h-4.16v-15.28h7.972ZM8.05 65.046c2.817 0 3.987.262 5.287 1.31 1.776 1.396 2.686 3.623 2.686 6.547 0 2.183-.693 4.06-1.993 5.414-1.343 1.397-2.903 1.964-5.416 1.964H4.931V86H.771V65.046h7.28ZM4.932 77.05h2.556c2.86 0 4.29-1.484 4.29-4.453 0-2.75-1.43-4.278-3.986-4.278H4.93v8.73ZM29.541 71.026c0-2.139-.65-2.706-3.163-2.706H19.36v-3.274h7.02c2.512 0 3.076.043 4.072.392 1.343.437 2.426 1.616 2.903 3.187.26.873.347 1.485.347 3.1v8.556h-8.752c-3.25 0-3.987-.13-4.94-.83-1.126-.829-1.733-2.138-1.733-3.71 0-2.139 1.127-3.885 2.773-4.41.693-.217 1.907-.348 3.423-.348h5.07v.043Zm-4.81 3.23c-.996 0-.996 0-1.342.088-.563.175-.91.699-.91 1.31 0 .96.607 1.353 2.253 1.353h4.81v-2.75h-4.81ZM43.753 65.046c2.556 0 3.683.262 4.68 1.178.952.83 1.256 1.921 1.256 4.235v1.484h-4.073v-.83c0-2.138-.607-2.837-2.687-2.837h-1.213v12.005h-4.16V65.046h6.197ZM56.101 71.07l5.546-6.024h4.68l-5.893 6.024h1.17c1.386 0 2.47.48 3.033 1.397.563.83.78 2.14.78 4.453v3.361h-4.203v-3.58c0-1.876-.477-2.4-2.297-2.4h-2.816v5.98h-4.16V59.414h4.16V71.07ZM78.545 63.998c0 2.925-2.253 5.195-5.2 5.195-2.903 0-5.242-2.27-5.242-5.195 0-2.838 2.34-5.151 5.242-5.151 2.903 0 5.2 2.27 5.2 5.15Zm-9.186 0c0 2.27 1.69 4.104 3.986 4.104 2.254 0 3.9-1.834 3.9-4.06 0-2.27-1.647-4.148-3.9-4.148s-3.986 1.834-3.986 4.104Zm3.163 2.663h-1.17v-5.108a10.68 10.68 0 0 1 1.95-.174c.953 0 1.387.174 1.776.393.26.218.477.61.477 1.135 0 .567-.433 1.004-1.04 1.178v.044c.477.174.78.567.954 1.266.173.786.26 1.091.39 1.266h-1.257c-.173-.175-.26-.655-.39-1.266-.087-.568-.39-.83-1.04-.83h-.563v2.096h-.087Zm0-2.881h.563c.65 0 1.17-.219 1.17-.742 0-.48-.346-.786-1.083-.786-.303 0-.52.043-.65.043v1.485Z"/></g>
						<g clip-path="url(#clip1_1928_3594)"><path d="M41.99 140.609c6.796 0 12.305-5.509 12.305-12.304 0-6.796-5.509-12.305-12.305-12.305-6.795 0-12.304 5.509-12.304 12.305 0 6.795 5.509 12.304 12.304 12.304Z" fill="#AA3939"/><path d="M70.624 154.913c6.796 0 12.305-5.509 12.305-12.305 0-6.795-5.51-12.304-12.305-12.304s-12.304 5.509-12.304 12.304c0 6.796 5.509 12.305 12.304 12.305Z" fill="#E8AA58"/><path d="M70.624 186.931c6.796 0 12.305-5.509 12.305-12.305 0-6.795-5.51-12.304-12.305-12.304s-12.304 5.509-12.304 12.304c0 6.796 5.509 12.305 12.304 12.305Z" fill="#CCB15A"/><path d="M42.76 173.422c-8.152 0-14.791-6.64-14.791-14.791 0-8.152 6.64-14.792 14.791-14.792 8.152 0 14.791 6.64 14.791 14.792 0 8.151-6.64 14.791-14.791 14.791Zm0-28.814c-7.716 0-14.022 6.281-14.022 14.023 0 7.741 6.28 14.022 14.022 14.022s14.022-6.281 14.022-14.022c0-7.742-6.28-14.023-14.022-14.023Z" fill="#4571A2"/><path d="M41.99 201.261c6.796 0 12.305-5.509 12.305-12.305 0-6.795-5.509-12.304-12.305-12.304-6.795 0-12.304 5.509-12.304 12.304 0 6.796 5.509 12.305 12.304 12.305Z" fill="#72A34D"/><path d="M13.715 186.931c6.796 0 12.305-5.509 12.305-12.305 0-6.795-5.509-12.304-12.305-12.304-6.795 0-12.304 5.509-12.304 12.304 0 6.796 5.509 12.305 12.304 12.305Z" fill="#3381BC"/><path d="M13.715 154.913c6.796 0 12.305-5.509 12.305-12.305 0-6.795-5.509-12.304-12.305-12.304-6.795 0-12.304 5.509-12.304 12.304 0 6.796 5.509 12.305 12.304 12.305Z" fill="#7252AF"/><path d="M34.197 156.836v4.409c.052 1.359.077 1.436.385 1.718.308.282.666.333 1.718.333h1.614v1.41h-1.768c-1.102 0-1.359-.026-1.77-.128-.794-.205-1.409-.744-1.64-1.513-.128-.359-.18-1-.18-1.82v-4.409h1.642ZM38.607 156.836h1.59v1.538h-1.59v-1.538Zm1.59 2.102v5.742h-1.59v-5.742h1.59ZM44.554 158.938c.923 0 1.308.103 1.692.461.41.385.59.949.59 1.744v3.537h-1.59v-3.717c0-.589-.23-.795-.82-.795h-1.359v4.512h-1.589v-5.742h3.076ZM49.681 161.219l2.102-2.281h1.77l-2.231 2.281h.436c.538 0 .923.18 1.153.513.205.308.282.82.282 1.666v1.282h-1.589v-1.333c0-.718-.18-.897-.872-.897h-1.076v2.256h-1.59v-7.87h1.59v4.383h.025Z" fill="#010101"/><path d="M36.89 151.248v-.872h4.204v.872h-1.615v3.999h-1.026v-3.999H36.89ZM42.426 151.683h1c.59 0 .897.077 1.128.308.23.205.333.564.333 1.025v2.205h-.974v-2.025c0-.641-.128-.769-.692-.769h-.795v2.794h-.974v-4.871h.974v1.333ZM48.553 153.837h-2.05c.025.282.076.41.255.512.129.103.282.129.59.129h1.205v.769h-1.307c-.564 0-.872-.077-1.205-.334-.41-.307-.641-.82-.641-1.486 0-.616.282-1.18.692-1.462.282-.179.59-.256 1.077-.256h1.358v.769H47.22c-.538 0-.718.154-.77.641h2.052v.718h.051Z" fill="#6A6A6A"/>
						</g>
						<defs>
							<clipPath id="clip0_1928_3594">
								<path fill="#fff" d="M.555 0h150v86h-150z"/>
							</clipPath>
							<clipPath id="clip1_1928_3594">
								<path fill="#fff" d="M1.41 116H82.93v85.261H1.41z"/>
							</clipPath>
						</defs>
					</svg>
				</a>
				<a href="/" class="footer__logo footer__logo--mobile" title="Waterloo Innovation Park + The Link logo">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 178 55"><g clip-path="url(#a)" fill="#140101"><path d="M5.307 5.027h2.497v7.198h2.68V5.027h2.523v9.135H3.824c-1.665 0-2.42-.21-2.992-.838C.286 12.75 0 11.86 0 10.838V5.027h2.497v5.418c0 .89.052 1.152.338 1.414.235.235.625.366 1.145.366h1.327V5.027Zm16.31 3.586c0-1.283-.39-1.623-1.899-1.623h-4.214V5.027h4.214c1.509 0 1.847.026 2.445.235.807.262 1.457.969 1.743 1.911.156.524.208.89.208 1.859v5.13H18.86c-1.951 0-2.394-.079-2.966-.497-.676-.498-1.04-1.283-1.04-2.225 0-1.283.676-2.33 1.664-2.644.417-.13 1.145-.21 2.055-.21h3.044v.027Zm-2.887 1.963c-.599 0-.599 0-.807.052-.338.105-.546.42-.546.786 0 .575.364.811 1.353.811h2.887v-1.649H18.73Zm8.376-8.926h2.497v3.377h2.315V6.99h-2.315v3.324c0 .943.026 1.23.208 1.466.208.288.598.445 1.119.445h.988v1.963h-1.82c-1.041 0-1.718-.209-2.212-.706-.624-.576-.806-1.257-.806-2.749V6.99h-1.587V5.027h1.587V1.65h.026Zm13.709 8.926H35.56c.052.707.234 1.02.676 1.335.365.236.755.314 1.535.314h3.07v1.963h-3.33c-1.43 0-2.237-.235-3.07-.864-1.092-.837-1.638-2.146-1.638-3.821 0-1.597.702-3.063 1.769-3.796.702-.47 1.508-.654 2.731-.654h3.512v1.963h-3.33c-1.353 0-1.82.367-1.95 1.623h5.254v1.937h.026Zm5.749-5.549c1.534 0 2.21.157 2.809.707.572.497.754 1.151.754 2.539v.89h-2.393v-.498c0-1.282-.364-1.701-1.613-1.701h-.728v7.198h-2.497V5.027h3.668Zm4.942 9.135V1.65h2.497v12.512h-2.497ZM64.409 6.44c.702.89 1.04 1.963 1.04 3.272 0 2.827-1.873 4.607-4.838 4.607-2.992 0-4.76-1.754-4.76-4.738 0-2.879 1.872-4.685 4.838-4.685 1.639 0 2.94.524 3.72 1.544Zm-6.01 3.194c0 1.78.781 2.722 2.264 2.722 1.483 0 2.21-.916 2.21-2.8 0-1.833-.753-2.75-2.262-2.75-1.483.027-2.211.97-2.211 2.828ZM75.256 6.44c.703.89 1.04 1.963 1.04 3.272 0 2.827-1.872 4.607-4.838 4.607-2.991 0-4.76-1.754-4.76-4.738 0-2.879 1.873-4.685 4.839-4.685 1.664 0 2.939.524 3.72 1.544Zm-6.009 3.194c0 1.78.78 2.722 2.263 2.722 1.483 0 2.212-.916 2.212-2.8 0-1.833-.755-2.75-2.264-2.75-1.482.027-2.21.97-2.21 2.828ZM.13 19.45h2.497v2.434H.13V19.45Zm2.497 3.376v9.135H.13v-9.135h2.497Zm7.284 0c1.457 0 2.055.157 2.68.733.624.602.962 1.492.962 2.774v5.628h-2.497v-5.89c0-.916-.364-1.282-1.275-1.282H7.622v7.198H5.125v-9.161H9.91Zm10.769 0c1.457 0 2.055.157 2.68.733.624.602.962 1.492.962 2.774v5.628h-2.497v-5.89c0-.916-.364-1.282-1.275-1.282h-2.159v7.198h-2.523v-9.161h4.812Zm13.918 1.414c.702.89 1.04 1.963 1.04 3.272 0 2.826-1.873 4.606-4.838 4.606-2.992 0-4.76-1.753-4.76-4.737 0-2.88 1.872-4.686 4.838-4.686 1.639 0 2.94.55 3.72 1.545Zm-6.01 3.22c0 1.78.781 2.721 2.264 2.721 1.482 0 2.21-.916 2.21-2.8 0-1.833-.753-2.749-2.262-2.749-1.483 0-2.211.943-2.211 2.827Zm15.036-4.634h2.654L42.35 31.96h-2.68l-3.616-9.135h2.732l2.315 6.282 2.523-6.282Zm10.146 3.586c0-1.283-.39-1.623-1.9-1.623h-4.214v-1.963h4.214c1.51 0 1.847.026 2.446.235.806.262 1.456.969 1.742 1.911.157.524.209.89.209 1.859v5.13h-5.255c-1.951 0-2.393-.078-2.966-.497-.676-.498-1.04-1.283-1.04-2.225 0-1.283.676-2.33 1.665-2.644.416-.13 1.144-.21 2.055-.21h3.043v.027Zm-2.888 1.963c-.599 0-.599 0-.807.052-.338.105-.546.42-.546.786 0 .576.364.811 1.353.811h2.887v-1.649h-2.887Zm8.376-8.925h2.497v3.376h2.315v1.963h-2.315v3.324c0 .943.026 1.23.209 1.466.208.288.598.445 1.118.445h.988v1.963h-1.82c-1.04 0-1.717-.209-2.212-.706-.624-.576-.806-1.257-.806-2.749V24.79h-1.587v-1.963h1.587V19.45h.026Zm6.529 0h2.498v2.434h-2.498V19.45Zm2.498 3.376v9.135h-2.498v-9.135h2.498ZM78.69 24.24c.702.89 1.04 1.963 1.04 3.272 0 2.826-1.873 4.606-4.838 4.606-2.992 0-4.76-1.753-4.76-4.737 0-2.88 1.872-4.686 4.838-4.686 1.639 0 2.94.55 3.72 1.545Zm-6.01 3.22c0 1.78.781 2.721 2.264 2.721 1.483 0 2.211-.916 2.211-2.8 0-1.833-.754-2.749-2.263-2.749-1.483 0-2.211.943-2.211 2.827Zm13.736-4.634c1.457 0 2.055.157 2.68.733.623.602.962 1.492.962 2.774v5.628H87.56v-5.89c0-.916-.364-1.282-1.274-1.282h-2.16v7.198H81.63v-9.161h4.787ZM4.5 40.651c1.691 0 2.394.157 3.174.786 1.067.837 1.613 2.172 1.613 3.926 0 1.309-.416 2.434-1.197 3.246-.806.837-1.743 1.177-3.251 1.177H2.627v3.43H.13V40.65H4.5ZM2.627 47.85h1.535c1.717 0 2.575-.89 2.575-2.67 0-1.65-.858-2.566-2.393-2.566H2.627v5.236Zm14.776-3.613c0-1.282-.39-1.623-1.9-1.623H11.29v-1.963h4.214c1.509 0 1.847.026 2.445.236.806.262 1.457.968 1.743 1.91.156.524.208.89.208 1.86v5.13h-5.255c-1.95 0-2.393-.079-2.965-.498-.676-.497-1.04-1.282-1.04-2.225 0-1.282.676-2.33 1.664-2.643.416-.131 1.145-.21 2.055-.21h3.044v.026Zm-2.888 1.937c-.598 0-.598 0-.806.053-.338.104-.546.419-.546.785 0 .576.364.811 1.352.811h2.888v-1.649h-2.888Zm11.42-5.523c1.535 0 2.211.157 2.81.707.572.497.754 1.152.754 2.54v.89h-2.445v-.498c0-1.283-.364-1.702-1.613-1.702h-.728v7.198h-2.498v-9.135h3.72Zm7.414 3.613 3.33-3.613h2.809l-3.538 3.613h.703c.832 0 1.482.288 1.82.837.339.498.469 1.283.469 2.67v2.016h-2.524V47.64c0-1.125-.286-1.44-1.378-1.44h-1.691v3.587h-2.497V37.275h2.497v6.989Zm13.475-4.241c0 1.754-1.353 3.115-3.122 3.115-1.743 0-3.147-1.361-3.147-3.115 0-1.701 1.404-3.089 3.147-3.089 1.743 0 3.122 1.361 3.122 3.089Zm-5.515 0c0 1.361 1.015 2.46 2.393 2.46 1.353 0 2.342-1.099 2.342-2.434 0-1.36-.989-2.486-2.342-2.486-1.352 0-2.393 1.099-2.393 2.46Zm1.899 1.597h-.702v-3.063a6.414 6.414 0 0 1 1.17-.105c.573 0 .833.105 1.067.236.156.13.286.366.286.68 0 .34-.26.603-.624.707v.026c.286.105.468.34.572.76.104.47.156.654.234.759h-.754c-.104-.105-.156-.393-.234-.76-.053-.34-.235-.497-.625-.497h-.338v1.257h-.052Zm0-1.728h.338c.39 0 .703-.13.703-.445 0-.288-.209-.471-.65-.471-.183 0-.313.026-.391.026v.89Z"/></g><path d="M107.022 32.163v-3.971h-3.971v-1.528h3.971v-3.96h1.528v3.96h3.961v1.528h-3.961v3.97h-1.528Z" fill="#0B0E26"/><g clip-path="url(#b)"><path d="M151.617 15.836a7.919 7.919 0 1 0 0-15.838 7.919 7.919 0 0 0 0 15.838Z" fill="#AA3939"/><path d="M170.043 25.04a7.919 7.919 0 1 0 0-15.837 7.919 7.919 0 0 0 0 15.838Z" fill="#E8AA58"/><path d="M170.043 45.645a7.919 7.919 0 1 0 0-15.838 7.919 7.919 0 0 0 0 15.838Z" fill="#CCB15A"/><path d="M151.469 36.951c-5.246 0-9.518-4.272-9.518-9.518s4.272-9.518 9.518-9.518 9.518 4.272 9.518 9.518-4.272 9.518-9.518 9.518Zm0-18.541c-4.965 0-9.023 4.041-9.023 9.023a9.025 9.025 0 0 0 9.023 9.023 9.025 9.025 0 0 0 9.023-9.023 9.025 9.025 0 0 0-9.023-9.023Z" fill="#4571A2"/><path d="M151.617 54.866a7.919 7.919 0 1 0 0-15.838 7.919 7.919 0 0 0 0 15.838Z" fill="#72A34D"/><path d="M133.422 45.645a7.918 7.918 0 1 0 0-15.836 7.918 7.918 0 0 0 0 15.836Z" fill="#3381BC"/><path d="M133.422 25.04a7.918 7.918 0 1 0 0-15.835 7.918 7.918 0 0 0 0 15.836Z" fill="#7252AF"/><path d="M145.959 26.278v2.838c.033.874.05.923.248 1.105.197.181.428.214 1.105.214h1.039v.908h-1.138c-.71 0-.875-.017-1.138-.083-.512-.132-.908-.478-1.056-.973-.083-.231-.116-.643-.116-1.171v-2.838h1.056Zm2.838 0h1.022v.99h-1.022v-.99Zm1.022 1.353v3.695h-1.022v-3.695h1.022Zm2.805-.001c.593 0 .841.067 1.088.298.264.247.38.61.38 1.121v2.277h-1.023v-2.392c0-.38-.148-.511-.528-.511h-.874v2.903h-1.023v-3.695h1.98Zm3.299 1.47 1.353-1.469h1.138l-1.435 1.468h.28c.347 0 .594.116.743.33.132.198.181.528.181 1.072v.825h-1.023v-.858c0-.462-.115-.577-.561-.577h-.692v1.452h-1.023v-5.065h1.023V29.1h.016Z" fill="#010101"/><path d="M147.691 22.682v-.56h2.706v.56h-1.039v2.574h-.66v-2.574h-1.007Zm3.563.28h.644c.379 0 .577.05.725.198.149.133.215.363.215.66v1.419h-.627v-1.303c0-.413-.082-.495-.445-.495h-.512v1.798h-.627v-3.134h.627v.857Zm3.943 1.386h-1.32c.017.182.05.264.165.33.083.066.182.083.38.083h.775v.495h-.841c-.363 0-.561-.05-.776-.215-.264-.198-.412-.528-.412-.957 0-.396.181-.759.445-.94.182-.115.38-.165.693-.165h.874v.495h-.841c-.346 0-.462.099-.495.412h1.32v.462h.033Z" fill="#6A6A6A"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 1.65h90.058v51.565H0z"/></clipPath><clipPath id="b"><path fill="#fff" d="M125.504 0h52.458v54.866h-52.458z"/></clipPath></defs></svg>
				</a>
			</div>
			<div class="footer__column">
				<div class="footer__heading">The Link</div>
				<nav class="footer__links" role="navigation">
					<ul role="menu">

						{% for item in footerLinksColumn1.navItems %}
							<li role="presentation">
								{% if item.label %}
									<label>{{item.label}}</label>
								{% endif %}
								<a class="footer__link" href={{item.buttonHref}} role="menuitem">
									{{item.buttonText}}
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</div>
			<div class="footer__column">
				<div class="footer__heading">Waterloo Innovation Park</div>
				<nav class="footer__links" role="navigation">
					<ul role="menu">
						{% for item in footerLinksColumn2.navItems %}
							<li role="presentation">
								{% if item.label %}
									<label>{{item.label}}</label>
								{% endif %}
								<a class="footer__link" href={{item.buttonHref}} role="menuitem">
									{{item.buttonText}}
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</div>
			<div class="footer__column">
				<div class="footer__heading">Get in Touch</div>
				<nav class="footer__links" role="navigation">
					<ul role="menu">
						{% for item in footerLinksColumn3.navItems %}
							<li role="presentation">
								{% if item.label %}
									<label>{{item.label}}</label>
								{% endif %}
								<a class="footer__link" href={{item.buttonHref}} role="menuitem">
									{{item.buttonText}}
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="footer__row footer__bottom-bar">
		<div class="u-container footer__bottom-bar-inner">
			<div class="footer__column">
				611 Kumpf Drive, Waterloo ON N2V 1K8
			</div>
			<div class="footer__column">
				<p class="footer__copyright">© Colonia Treuhand Limited Group. All right reserved.</p>
			</div>
			<div class="footer__column">
				<div class="footer__social-links">
					{% if socialLinks.facebook %}
					<a title="Facebook Account Link" href={{socialLinks.facebook}} class="footer__social-link">
						<svg width="12" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.56 4.27h1.923V.921C11.15.876 10.01.773 8.683.773c-2.772 0-4.67 1.744-4.67 4.947V8.67H.954v3.742h3.059v9.417h3.749v-9.416h2.935l.465-3.742h-3.4V6.09c0-1.081.291-1.822 1.798-1.822Z" fill="#fff"/></svg>					</a>
				{% endif %}

				{% if socialLinks.instagram %}
					<a title="Instagram Account Link" href={{socialLinks.instagram}} class="footer__social-link">
						<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1941_2511)">
							<path d="M10.0284 5.2041C7.19081 5.2041 4.89355 7.50386 4.89355 10.3389C4.89355 13.1765 7.19331 15.4738 10.0284 15.4738C12.866 15.4738 15.1632 13.174 15.1632 10.3389C15.1632 7.50135 12.8635 5.2041 10.0284 5.2041ZM10.0284 13.6718C8.18642 13.6718 6.6955 12.1801 6.6955 10.3389C6.6955 8.4978 8.18726 7.00605 10.0284 7.00605C11.8695 7.00605 13.3613 8.4978 13.3613 10.3389C13.3621 12.1801 11.8704 13.6718 10.0284 13.6718Z" fill="white"/>
							<path d="M14.1508 0.398799C12.3097 0.312912 7.74935 0.317081 5.90655 0.398799C4.28721 0.474679 2.85883 0.865754 1.70729 2.0173C-0.217235 3.94182 0.0287504 6.53509 0.0287504 10.3383C0.0287504 14.2307 -0.18805 16.7639 1.70729 18.6592C3.63931 20.5904 6.27011 20.3378 10.0283 20.3378C13.884 20.3378 15.2148 20.3403 16.5781 19.8125C18.4318 19.0928 19.831 17.436 19.9677 14.46C20.0545 12.618 20.0495 8.05853 19.9677 6.21573C19.8026 2.70272 17.9173 0.572239 14.1508 0.398799ZM17.0651 17.386C15.8035 18.6476 14.0532 18.535 10.0041 18.535C5.83484 18.535 4.16297 18.5967 2.94305 17.3735C1.53802 15.9751 1.79234 13.7295 1.79234 10.3249C1.79234 5.71792 1.31955 2.40003 5.94324 2.16322C7.00556 2.1257 7.31825 2.11319 9.99241 2.11319L10.0299 2.13821C14.4735 2.13821 17.9598 1.67292 18.1691 6.29578C18.2167 7.35059 18.2275 7.66746 18.2275 10.3374C18.2267 14.4583 18.305 16.1402 17.0651 17.386Z" fill="white"/>
							<path d="M15.3659 6.2006C16.0286 6.2006 16.5658 5.66338 16.5658 5.00069C16.5658 4.338 16.0286 3.80078 15.3659 3.80078C14.7032 3.80078 14.166 4.338 14.166 5.00069C14.166 5.66338 14.7032 6.2006 15.3659 6.2006Z" fill="white"/>
							</g>
							<defs>
							<clipPath id="clip0_1941_2511">
							<rect width="20.0124" height="20.0124" fill="white" transform="translate(0.0185547 0.334961)"/>
							</clipPath>
							</defs>
						</svg>
					</a>
				{% endif %}

				{% if socialLinks.twitter %}
					<a title="Twitter Account Link" href={{socialLinks.twitter}} class="footer__social-link">
						<svg width="25" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.431 4.988A10.146 10.146 0 0 0 25 2.368c-.93.401-1.92.667-2.953.796A5.035 5.035 0 0 0 24.302.375c-.99.582-2.084.992-3.25 1.222A5.172 5.172 0 0 0 17.308 0c-2.837 0-5.121 2.268-5.121 5.047 0 .4.034.785.118 1.151A14.587 14.587 0 0 1 1.741.919a5.03 5.03 0 0 0-.702 2.55c0 1.748.913 3.297 2.277 4.195A5.127 5.127 0 0 1 1 7.042v.055c0 2.453 1.776 4.49 4.106 4.96a5.172 5.172 0 0 1-1.343.166c-.329 0-.66-.019-.97-.087a5.166 5.166 0 0 0 4.788 3.516 10.405 10.405 0 0 1-6.355 2.152c-.42 0-.823-.018-1.226-.069A14.598 14.598 0 0 0 7.862 20c9.045 0 14.94-7.43 14.57-15.012Z" fill="#fff"/></svg>
					</a>
				{% endif %}

				{% if socialLinks.linkedin %}
					<a title="LinkedIn Account Link" href={{socialLinks.linkedin}} class="footer__social-link">
						<svg width="23" height="23" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill="#fff"><path d="M22.242 22.638h.006v-8.135c0-3.979-.857-7.044-5.509-7.044-2.236 0-3.737 1.227-4.35 2.39h-.064V7.83h-4.41v14.807h4.592v-7.332c0-1.93.366-3.797 2.756-3.797 2.356 0 2.391 2.203 2.391 3.921v7.21h4.588ZM.435 7.832h4.599v14.807H.435V7.832ZM2.733.46A2.664 2.664 0 0 0 .069 3.123c0 1.47 1.193 2.688 2.664 2.688 1.47 0 2.663-1.218 2.663-2.688A2.665 2.665 0 0 0 2.733.46Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M.07.46h22.177v22.178H.07z"/></clipPath></defs></svg>
					</a>
				{% endif %}
				</div>
			</div>
		</div>

	</div>

</footer>
