 {% if entryId is defined %}
	{% set item = craft.entries.section('exhibitions').id(entryId).one().galleryItems.id(itemId).one() %}
{% else %}
	{% set item = craft.entries.section('exhibitions').one().galleryItems.id(itemId).one() %}
{% endif %}

<li class="gallery-card__item">
	<div class="gallery-card__picture-container">
		{% set image = item.image.one() %}

		{% if image %}
			<picture class="gallery-card__picture gallery-card__picture--front">
				<source {{ attr({ type: 'image/webp', srcset: image.getSrcset( [304, 320, 360, 412, 600, 768, 1024, 1280, 1440], { format: 'webp', } ), sizes: '(max-width: 768px) 100vw, 304px' , }) }}>
				<source {{ attr({ type: 'image/jpeg', srcset: image.getSrcset( [304, 320, 360, 412, 600, 768, 1024, 1280, 1440], { format: 'jpeg', } ), sizes: '(max-width: 768px) 100vw, 304px' , }) }}>
				<img alt="{{item.artName}}" class="gallery-card__image gallery-card__image--front" src={{image.url}} width={{image.width}} height={{image.height}} loading="lazy">
			</picture>
		{% endif %}
	</div>
	<div class="gallery-card__text">
		<div class="gallery-card__name">{{item.artName}}</div>
		<div class="gallery-card__price">{{item.price | money }}</div>
		<div class="gallery-card__artist">{{item.artist}}{% if item.year %}, {{item.year}}{% endif %}</div>
		<div class="gallery-card__info">{{item.info}}</div>
	</div>
</li>